body {  
     background-color: Silver;  
     font-family: Tahoma;  
     font-size: medium;  
     color: #050f3e;  
     vertical-align: middle;  
     text-align: center; 
     width:100%; 
}  
  
