body {  
     background-color: Silver;  
     font-family: Tahoma;  
     font-size: medium;  
     color: olive;  
     vertical-align: middle;  
     /* text-align: center;  */
     width:100%; 
}  
  
